body{
    background-color: #f9f7f1;
    font-family: Arial;
    margin: 20px;
    text-align: center;
    color: #6b705c;
    font-size: 14px;
}

div{
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px #ccc;
    border-radius: 10px;
}

image{
    width: 100%;
    border-radius: 10px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
}